/***************************************

---------------------------
Egg Yolk
---------------------------

version:	Chicken
date:     July 2009
author:	  DAZ
contact:	daz4126-at-gmail.com

This stylesheet provides some utility classes to add different effects such as tabs and rounded corners.

****************************************/


/***************************************
 Tabs
****************************************/
ul.tabs
{list-style:none outside;background:#f9de02;font-size:1.4em;
overflow:hidden;zoom:1;display:relative;
margin:0;padding:0;width:auto;}

ul.tabs li
{background:#fffff3;color:#369;line-height:2.4;
display:inline;float:left;padding: 0 1em;}

ul.tabs li a:link,ul.tabs li a, ul.tabs li a:visited
{text-decoration:none;background:#f9de02;color:#fffff3;
display:block;width:100%;
padding: 0 1em;margin: 0 -1em;}

ul.tabs li a:hover
{text-decoration:none;
background:#369;color:#fffff3;}
/* Add a class of 'vertical' or 'v' to make the tabs vertical*/
ul.tabs.vertical li,ul.tabs.v li
{clear:left;display:block;width:100%;}

/***************************************
 image replacement
****************************************/
/*This will just hide the text, you will need to speciafy the background image separately. The width and height of the element should match the dimensions of the image*/
.imageReplacement,.imgr
{margin:0;padding:0;text-indent:-12345px;}

/***************************************
 Rounded Corners
****************************************/
.isRounded,.ir{-webkit-border-radius: 1em; -moz-border-radius: 1em;border-radius: 1em;}
.hasRounded>*,.hr>*{-webkit-border-radius: 1em; -moz-border-radius: 1em;border-radius: 1em;}

/***************************************
 Transistions - not complete yet
****************************************/
.transition{-webkit-transition: all,0.5s;}

/***************************************
 Search box - not complete yet
****************************************/
form.search
{padding:1em 0;position:relative;}
.search label
{position: absolute;left:-10000em;}
form.search input#search
{width:70%;min-width:30px;padding:5px 0;margin:0 5% 0 0;border:none;text-indent:1em;
 -webkit-border-radius:0.5em;-moz-border-radius:0.5em;border-radius:0.5em;}
form.search input.btn
{width:20%;min-width:30px;margin:0 auto;}
