/***************************************

---------------------------
Egg Yolk
---------------------------

version:	Chicken
date:     July 2009
author:	  DAZ
contact:	daz4126-at-gmail.com

This stylesheet provides some utility classes to add different effects such as tabs and rounded corners.

****************************************/


/***************************************
 horizontal tabs
****************************************/
ul.tabs
{
list-style:none outside;overflow:hidden;zoom:1;
margin:0;padding:0;
background:#f9de02;
display:relative;
font-size:1.4em;
width:auto;
}

ul.tabs li
{
background:#fffff3;color:#369;
line-height:2.4;
display:inline;float:left;
padding: 0 1em;
}

ul.tabs li a:link,ul.tabs li a, ul.tabs li a:visited
{
text-decoration:none;
background:#f9de02;color:#fffff3;
display:block;
padding: 0 1em;
margin: 0 -1em;
}

ul.tabs li a:hover
{
text-decoration:none;
background:#369;color:#fffff3;
}


ul.tabs.vertical li
{
*clear:left;
display:block;
width:100%;
}

ul.tabs.vertical li a
{
width:100%;
}


/***************************************
 image replacement
****************************************/
/*This will just hide the text, you will need to speciafy the background image separately. The width and height of the element should match the dimensions of the image*/
.image-replacement
{margin:0;padding:0;text-indent:-12345px;}

/***************************************
 Search box
****************************************/
form.search
{padding:1em 0;position:relative;}
.search label
{position: absolute;left:-10000em;}
form.search input#search
{width:70%;min-width:30px;padding:5px 0;margin:0 5% 0 0;border:none;text-indent:1em;
 -webkit-border-radius:0.5em;-moz-border-radius:0.5em;border-radius:0.5em;}
form.search input.btn
{width:20%;min-width:30px;margin:0 auto;}

/***************************************
 Rounded Corners
****************************************/
.isRounded{-webkit-border-radius: 1em; -moz-border-radius: 1em;border-radius: 1em;}
.hasRounded>*{-webkit-border-radius: 1em; -moz-border-radius: 1em;border-radius: 1em;}

/***************************************
 Transistions
****************************************/
.transition{-webkit-transition: all,0.5s;}
